*{
    margin: 0px;
}

/* Paleta de cores */
:root{
    --light: #F5F2EB;
    --yellow: #FDC827;
    --green: #04BA71;
    --dark: #072C35;
    --darkcyan: #04454D;
    --gray-10: #DDDAD4;
    --gray-20: #93918D;
    --gray-30: #4A4947;
    --error: #FF0000;
}

/* Fontes */
main section h1, main section h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--dark);
    text-decoration: none;
}

main section h3, main section p, main section h4, main section h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--dark);
    text-decoration: none;
}

/* Fonte super-large */
main section h1{
    font-size: 30px;
    display: flex;
    padding-bottom: 30px;
}

/* Fonte large */
main section h2{
    font-size: 24px;
}

/* Fonte medium */
main section h3, main section p{
    font-size: 16px;
}

/* Fonte medium */
main section h3.clickable{
    font-size: 16px;
    text-decoration: underline;
}

/* Fonte small */
main section h4{
    font-size: 14px;
}

/* Fonte smaller */
main section h5{
    font-size: 11px;
}

/* Botões - geral */
button.neutral, button.yellowneutral, button.special, button.positive, button.negative{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    padding: 13px;
    cursor: pointer;
}

button.special, button.positive, button.negative{ border: none; }

button.neutral, button.yellowneutral, button.negative:hover{ background-color: transparent; }

/* Botões Neutros */
button.neutral{
    border: 1.5px solid var(--darkcyan);
    color: var(--darkcyan);
}

button.yellowneutral:hover{
    background-color: var(--darkcyan);
    color: var(--light);
}

button.yellowneutral{
    border: 1.5px solid var(--yellow);
    color: var(--yellow);
}

button.yellowneutral:hover{
    background-color: var(--yellow);
    color: var(--light);
}

/* Botão Especial */
button.special{
    background-color: var(--yellow);
    color: var(--dark);
}

button.special:hover{
    background-color: #ECA824;
}

/* Botão Positivo */
button.positive{
    background-color: var(--green);
    color: var(--light);
}

button.positive:hover{
    background-color: #008C6B;
}

/* Botão Negativo */
button.negative{
    background-color: var(--error);
    color: var(--light);
}

button.negative:hover{
    border: 1.5px solid var(--error);
}

/* Setas */
div.arrowcontainer{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 3px solid;
    align-items: center;
    justify-items: center;
    transition: transform 0.2s;
    cursor: pointer;
}

div.leftarrow, div.rightarrow{
    background-repeat: no-repeat;
    background-size: 35%;
    width: 35px;
    height: 35px;
    display: inline-block;
    overflow: hidden;   
}

div.leftarrow{
    background-position-y: center;
    background-position-x: 45%;
}

div.rightarrow{
    background-position-y: center;
    background-position-x: 55%;
}

div.arrowcontainer:hover{
    transform: scale(1.5);
}

div.arrowcontainer div.leftarrow, div.arrowcontainer div.rightarrow{
    transition: transform 0.2s;
}

div.arrowcontainer:hover div.leftarrow, div.arrowcontainer:hover div.rightarrow{
    transform: scale(0.6666666666666666666666666666666666667);
}

/* Padrão */
body{
    background-color: var(--light);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* Todos os web containers */
div.webcontainer{
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main components */
main section, header, footer{
    width: 1020px;
    background-clip: border-box;
}







/* Barra de navegação */
div#header, header{
    background-color: var(--darkcyan);
}

img#logo{
    margin-top: 5px;
    height: 40px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2px;
    padding-bottom: 2px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding-top: 17px;
    color: #F5F2EB;
    margin-left: 100px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color:#F5F2EB;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    justify-content: center;
}

button#navlogin{ 
    padding-inline: 38px;
    font-size: 14px;
    padding: -10px;
}

#navlogin:hover{ color: var(--darkcyan); }

button#navsignup{ 
    padding-inline: 22px;
    font-size: 14px;
    padding: -10px;
}

/* Primeira página */

section#firstview{
    display: flex;
    margin: 20px;
    margin-top: 120px;
    justify-content: space-between;
    align-items: center;
}

div#intro{
    display: block;
}

h2#welcome{
    color: #04454D;
    margin: -2px;
    padding: 0px;
    border: 0px;
}

h1#hero{
    font-family: 'Lexend Exa', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    color:#04BA71;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

h3#description{
    color:#04454D;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

button#mainsignup{
    font-size: 14px;
    margin-top: 20px;
}

img#hero{
    width: 27vw;
}

/* Sobre */

section#sobre{
    margin-top: 80px;
    margin-bottom: 50px;
}

.ideas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.idea{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 250px;
}

p.idea{
    text-align: justify;
    font-size: 14px;
}

img#icon1{
    width: 80.36px;
    height: 104px;
    align-self: center;
    margin-bottom: 5px;
}

img#icon2{
    width: 189px;
    height: 93px;
    align-self: center;
    margin-bottom: 14px;
}

img#icon3{
    width: 106px;
    height: 104px;
    align-self: center;
    margin-top: 8px;
    margin-bottom: 16px;
}

/* Notícias */ 

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.hero{
    background: #04454D;
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero h1{
    text-align: center;
    margin-bottom: 100px;
    padding-top: 100px;
    font-size: 40px;
    color:#F5F2EB;
}

.id{
    color: #04BA71;
    justify-content: baseline;
}

.titulo{
    margin-bottom: 13px;
}

.container{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.indicator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

.btn{
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 4px;
    border-radius: 15px;
    background: #F5F2EB;
    cursor: pointer;
    transition: 0.5s;
}

.active{
    width: 35px;
}

.noticias{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-row{
    display: flex;
    width: 3200px;
    transition: 0.5s;
}

.slide-col{
    width: 800px;
    height: 400px;
    position: relative;
    margin-left: 45px;
}

.user-text .botao{
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.user-text .botao button{
    background: rgb(253, 199, 39);
    outline: none;
    border: none;
    color: #04454D;
    padding: 8px 22px;
    border-radius: 2px;
}

.user-text .botao button:hover{
    background: rgba(253, 200, 39, 0.5);
    border: 1px solid #FDC827;
}

.user-text .botao2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.user-text .botao2 button{
    background: #FDC827;
    outline: none;
    border: none;
    color: #04454D;
    padding: 8px 22px;
    border-radius: 2px;
}

.user-text .botao2 button:hover{
    background: rgba(253, 200, 39, 0.5);
    border: 1px solid #FDC827;
}

.user-text .botao3{
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.user-text .botao3 button{
    background: #FDC827;
    outline: none;
    border: none;
    color: #04454D;
    padding: 8px 22px;
    border-radius: 2px;
}

.user-text .botao3 button:hover{
    background: rgba(253, 200, 39, 0.5);
    border: 1px solid #FDC827;
}

.user-text .botao4{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.user-text .botao4 button{
    background: #FDC827;
    outline: none;
    border: none;
    color: #04454D;
    padding: 8px 22px;
    border-radius: 2px;
}

.user-text .botao4 button:hover{
    background: rgba(253, 200, 39, 0.5);
    border: 1px solid #FDC827;
}

.user-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.user-img img{
    height: 100%;
    width: 520px;
    border-radius: 2px;
}

.user-text{
    background: #F5F2EB;
    width: 280px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
    color: #04454D;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
}

.user-text p{
    font-size: 14px;
    line-height: 18px;
}

.user-text h3{
    margin: 25px 0 5px;
    color: #04454D;   
}


/* Equipe */

div#team, section#equipe, section#pictures{
    background-color: #F9DD89;
}

section#equipe{
    display:flex;
    margin-block: 124px 129px;
}

div#teambox{
    display: flex;
    height: 527px;
    width: 410px;
    margin-right: 92px;
    flex-direction: column;
    justify-content: space-between;
}

div#teambox div#teamcomponents{
    align-items: top;
    justify-content: left;
    height: 450px;
    align-self: flex-start;
}

div#teambox div#teamcomponents h1{
    align-items: center;
    justify-content: left;
    font-size: 41px;
    padding-bottom: 27px;
}

div#teamcomponents div#membercomponents{
    display: flex;
}

div.team{
    width: 410px;
    height: 263px;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
}

div.team h2{
    padding-bottom: 7px;
}

div.team p{
    margin-top: 13px;
    width: 100%;
}

div.team, div.team a{
    align-items:left;
    justify-content: left;
}

button.know{ 
    width: 100%;
}

div#carrosselarrowcontainer{
    align-self: flex-end;
    border-color: var(--darkcyan);
}

div#carrosselarrow{
    background-image: url("./imgs/arrow-left-vector.png");
    width: 35px;
    height: 35px;
}

section#pictures{
    height: 527px;
} 

div.pics{
    height: 527px;
    width: 434px;
    background-color: var(--darkcyan);
}

/* Equipe - temporário */

div#anna, div#elo, div#rach{
    display: none;
}

div#annamaria,div#eloisa, div#raquel{
    display: none;
}

/* Footer */

div#footer{
    background-color: var(--darkcyan);
    color: var(--light);
    height: 400px;
    display: block;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 350px;
    width: 80%;
    margin: auto;
}

div.footerdiv {
    width: 250px;
    display: flex;
    flex-direction: column;
}

/* Sobre a WeRecycle */

div#footerabout {
    width: 250px;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
}

div#footerlogo {
    background-image: url("./imgs/logoWRfooter.png");
    background-size: cover;
    height: 60px;
    width: 250px;
    margin-top: 26px;
}

p#pfooter {
    font-size: 16px;
}

/* Redes Sociais */

div#socials {
    width: 250px;
    height: 300px;
    justify-content: space-around;
}

h3.footertitle {
    margin-top: 30px;
    margin bottom: 2px;
}

div.redesocial {
    display: flex;
    align-items: center;
}

a.clickable {
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

div#facebookicon {
    background-image: url("./imgs/Facebook\ -\ Negative.png");
    width: 18px;
    height: 18px;
}

div#instagramicon {
    background-image: url("./imgs/Instagram\ -\ Negative.png");
    width: 18px;
    height: 18px;
}

div#twittericon {
    background-image: url("./imgs/Twitter\ -\ Negative.png");
    width: 18px;
    height: 18px;
}

div#wppicon {
    background-image: url("./imgs/whatsapp.png");
    width: 18px;
    height: 18px;
}

/* Endereço */

div#footeraddress {
    width: 250px;
    height: 300px;
    justify-content: space-around;
}

div#endereco {
    display: flex;
    margin-bottom: 75px;
}

div#pinicon {
    background-image: url("./imgs/Local-pin.png");
    height: 18px;
    width: 18px;
    margin-top: 5px;
}

p#pendereco {
    margin-left: 10px;
    width: 232px;
}

/* Contato */

div#footercontact {
    width: 250px;
    height: 300px;
}

p#ctt {
    font-size: 14px;
    margin-bottom: 4px;
}

::placeholder {
    color: #072d36;
    opacity: 80%;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
}

form {
    width: 250px;
}

div#form {
    width: 250px;
}

textarea#mensagem {
    margin-top: 3px;
    font-family: 'Poppins', sans-serif;
}

.form {
    width: 220px;
    height: 18px;
    background-color:#93918D;
    opacity: 60%;
    border-radius: 3px;
    border: none;
}

.formtxt {
    width: 220px;
    height: 50px;
    background-color:#93918D;
    opacity: 60%;
    border-radius: 3px;
    border: none;
}

h3.footertitle3 {
    margin-top: 50px;
}

input.buttom {
    border-radius: 1px;
    border: none;
    width: 80px;
    box-shadow: none;
    font-family: 'Poppins', sans-serif;
    background-color: #04BA71;
    color: white;
    font-size: 12px;
}

/* Desenvolvedores */

div#devs {
    width: 100%;
    height: 50px;
    background-color:#072C35;
    display: flex;
    align-items: center;
}

p#devas {
    font-size: 11px;
    width: 100%;
    text-align: center;
}
