.slider {
    width: 50.694444444444444444444444444444vw;
}

.slick-next{
    display: none !important;
}

.slick-slide {
    margin: 0px 31px 0px 0px;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    height: 527px;
}


.slick-slide:nth-of-type(4), .slick-slide:nth-of-type(8){
    background-image: url('https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_image_Processing.jpg');
    background-position: center;
    }
.slick-slide:nth-of-type(5), .slick-slide:nth-of-type(9){
    background-image: url('https://images.ctfassets.net/hrltx12pl8hq/a2hkMAaruSQ8haQZ4rBL9/8ff4a6f289b9ca3f4e6474f29793a74a/nature-image-for-website.jpg?fit=fill&w=480&h=320');
    background-position: center;
}
.slick-slide:nth-of-type(6){
    background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg');
    background-position: center;
}
.slick-slide:nth-of-type(7){
    background-image: url('https://www.w3schools.com/w3css/img_lights.jpg');
    background-position: center;
}

.slick-active {
    background-color: black;
    width: 10.833333333333333333333333333333vw !important;
}

.slick-current {
    width: 30.138888888888888888888888888889vw !important;
    background-color: black;
}

@-webkit-keyframes slide-fwd-center {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(160px);
                transform: translateZ(160px);
    }
}
@keyframes slide-fwd-center {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(160px);
                transform: translateZ(160px);
    }
}


div.memberinfo{
    height: 177px;
    -webkit-animation: slide-fwd-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
